.contact-page {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    font-family: ;
}

.contact-form,
.office-container {
    flex-basis: calc(50% - 40px); 
    margin: 10px; 
    box-sizing: border-box; 
    padding: 10px; 
}
}