body {
    background-color: #EEEDE7;
    margin:0;
    padding:0;
}
.contact-text {
    font-size: 3em;
    font-family: "Bungee", sans-serif;
    letter-spacing: 3px;
}

.contact-text-body {
    font-family: "Bungee", sans-serif;
    font-size: 1.5em;
}

.form-font {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.contact-info-font {
    font-family: "Roboto", sans-serif;
}

.contact-phone {
    text-decoration: underline;
}
  .contact-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }

  .contact-us {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    overflow: hidden; 
}

.contact-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./palmtree.png');
    background-size: cover;
    opacity: 0.7; 
    z-index: -1;
}

.banner {
    width: 500px;
    position: relative;
    bottom: 60px;
    background-color: #EEEDE7;
    padding: 20px 20px 0px;
    border-radius: 10px;
}

.email-link {
    color: inherit; 
    font-weight: bold;
    letter-spacing: 1px; 
    transition: color 0.3s, text-decoration 0.3s;
}

.email-link:hover {
    color: #000000;
    text-decoration: none;
}

.learn-more {
    text-decoration: underline;
    color: black;
    transition: color 0.3s, text-decoration 0.3s;
}

.learn-more:hover {
    color: purple;
}

.container {
    background-color: #EEEDE7;
    padding: 10px 10px;
     width: 500px;
}

.formc {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 30px;
}

.formc label {
    color: black;
    display: block;
    padding: 10px;
}

.formc input {
    display: block;
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 8px;
}


.formc select{
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
}


.formc.error input{
    border: 2px solid red;
    border-color: red;
    visibility: visible;
}

.formc p {
    color: red;
    position: absolute;
    visibility: hidden;
    margin-top: 2px;
}

.formc select{
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    padding: 8px;
}


button {
    width: 100%;
    height: 40px;
    border: 0; 
    border-radius: 8px;
    background-image: linear-gradient(144deg, #5694BA, #81C3D7 50%, #5694BA);
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: black;
    outline: 0;
}

button:active {
    transform: scale(0.9);
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    text-decoration: none;
}

button:hover span {
    background: none;
    text-decoration: none;
}

.direction-bttn{
    width: 150px;

}

.direction-bttn a {
    width: 100%;
    height: 40px;
    border: 0; 
    border-radius: 8px;
    background-image: linear-gradient(144deg, #5694BA, #81C3D7 50%, #5694BA);
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    transition: all .3s;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.direction-bttn:hover a {
    background-color: white;
    color: black;
    outline: 0;
}

.split-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

/*media quuery for mobile*/
@media (max-width: 769px) {
    .container {
        width: 80%;
        padding: 20px;
    }

    .banner {
        width: 90%;
        bottom: 0px;
    }

    .formc input {
        width: 95%;
    }

    button {
        font-size: 16px;
    }

    .split-container {
        flex-direction: column;
        align-items: center;
    }

    .office-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    
    .office {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact-text-body {
        justify-content: center;
    }

    .contact-text {
        font-size: 2em;
    }
}